VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
VITE_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_STREAMVAULT_CONTRACT_ID=
VITE_USDC_TOKEN_CONTRACT_ID=
VITE_XLM_TOKEN_CONTRACT_ID=
